*{
    padding: 0;
    margin: 0;
}

body{
    background: rgb(49, 47, 47);
}

#main{
    margin: 2rem auto;
    width: 85rem;
}

#main .heading{
    margin: 2rem auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#main .heading h2{
    color: aliceblue;
    font-size: 2.2rem;
}

.arrayBtn_div{
    display: flex;
}

#division{
    width: 60%;
    margin: 1rem auto;
    display: flex;
}

.div_bar{
    margin: 0rem 0.125rem;
    border: 2px solid rgba(173, 235, 48, 0.493);
}
